.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto;
}

.header {
  border: 1px solid rgb(226, 227, 228);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1px;
}

.input {
  border: none;
  border-radius: 10px;
  background-color: rgb(226, 227, 228);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.title-content {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  margin-right: 20px;
}

.input-title {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-right: 20px;
}

.content {
  font-weight: bold;
  margin-right: 20px;
}

.input-content {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-right: 20px;
}

.add-btn {
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(3, 137, 146);
  height: 30px;
  width: 130px;
}

.add-btn:hover {
  cursor: pointer;
}

.main {
  padding: 20px;
}

.working {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.working-box-flex {
  display: inline-block;
}

.working-box {
  border: 3px solid rgb(3, 137, 146);
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  margin: 10px 10px auto auto;
}

.main-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-content {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

.del-btn {
  width: 120px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
}

.del-btn:hover {
  cursor: pointer;
}

.done-btn {
  width: 120px;
  padding: 5px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
}

.done-btn:hover {
  cursor: pointer;
}

.done {
  font-size: x-large;
  font-weight: bold;
  margin: 10px auto 10px auto;
}

.done-box-flex {
  display: inline-block;
}

.done-box {
  border: 3px solid rgb(3, 137, 146);
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  margin: 10px 10px auto auto;
}

.main-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-content {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

.del-btn {
  width: 120px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
}

.cancel-btn {
  width: 120px;
  padding: 5px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
}

.cancel-btn:hover {
  cursor: pointer;
}
